   body{
	margin:0px;
}
ul{
	list-style-type: none;
	margin: 0px;
	padding:0px;
	background-color: rgb(0,213,213);
	position: fixed;
	height: 100%;
	width: 12%;
}
a{
	text-decoration: none;
	color: #000123;
	display: block;
	padding: 10px 10px;
	font-size: 17px;
	font-family: Arial;
}
a:hover{
	background-color: #000123;
	color: white;
}
#home_id,#aboutus_id,#services_id,#product_id,#contact_id
{
	height: 1000px;
	margin-left: 20px;
}
#home_id{
	margin-left: 12%;
	padding: 5px 20px;
	background-color: rgb(193,255,255);
}
.home{
	background-color: rgb(51,153,174);
}

#logo_id{
	float: left;
	width: 100px;
	height: 100px;
	margin-left: 250px;
}
.abc{
	border-radius: 35px 0px 35px 0px;
	margin-right: 50px;
	border-style: double;
	border-color: rgb(0,193,193);
	border-bottom-width: 6px;
	border-top-width: 6px;	
}
h1{
	position: relative;
	top: 18px;
	left: 10px;
	margin-left: 100px;
	font-family: serif;
	text-shadow: 2px 2px #008080;	
	font-size: 30px;
}
h3{
	margin-left: 200px;
}
p{
	margin-left: 200px;
}
#aboutus_id{
	background-color: rgb(205,205,205);
}
#services_id{
	background-color: rgb(255,214,193);
	padding-left: 100px;
}
.service_img{
    border-radius: 200px;
	margin-left: 70px;
	margin-right: 20px;
}
.facility{
	display: inline-block;
	margin-left: 150px;
	margin-right: 20px;
	font-style: italic;;
	font-family: Arial;
}
#product_id{
	background-color: rgb(128,255,128);
	padding-left: 100px;
}
#type_id{
	margin-left: 500px;
	margin-top: -800px;
}
.product_type{
	margin-left: 100px;
	font-size: 25px;
	margin-bottom: 20px;
}
#team_id
{
	background-color: rgb(201,201,140);
	height: 1000px;
}
.team_img{
	margin-left: 90px;
	padding-left: 80px;
	border-radius: 10px 10px;
}
.team{
	display: inline-block;
	padding-left: 180px;
	margin-left: 100px;
}
#contact_id
{
	background-color: rgb(255,177,100);
	padding: 50px 150px;
	
}
#cont_img{
	margin-left: 700px;
	margin-top: -400px;
}

#fa,#ra,#la,#ca{
	margin-left: 200px;
	font-size: 30px;
	background-color: orange;
	height: 30px;
	width: 200px;
	text-align: center;
	border-radius: 20px;
	padding: 10px;
	display: block;
	margin-top: 20px;

	border-bottom-style: solid;
    border-bottom-color: #000123;
	border-bottom-width: 4px;

}
#fa:hover,#ra:hover,#la:hover,#ca:hover{
	background-color: rgb(128,64,0);
	color: white;
	
}